# DATE

In [1]:
import pandas as pd

df = pd.read_excel('AR Data1.xlsx')
df

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00
...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50

In [2]:
df['mon1'] = df['Order Date'] .dt.year
df

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00,2022
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00,2022
...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022

In [3]:
df['mon2'] = df['Order Date'] .apply(lambda y: y.strftime('%b/%y'))
df

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00,2022,Feb/22
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,Feb/22
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022,Jun/22
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022,Jun/22
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00,2022,Jul/22
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,Sep/22
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,Nov/21
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,Dec/21
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22

In [4]:
df.query("Products == 'Pin Charger' ")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
591,Ghana,Pin Charger,1493.0,6,2.75,2022-01-01,8958.0,4105.75,4852.25,2022,Jan/22
592,Zambia,Pin Charger,1804.0,6,2.75,2022-02-01,10824.0,4961.00,5863.00,2022,Feb/22
593,Kenya,Pin Charger,2161.0,6,2.75,2022-03-01,12966.0,5942.75,7023.25,2022,Mar/22
594,Kenya,Pin Charger,1006.0,6,2.75,2022-06-01,6036.0,2766.50,3269.50,2022,Jun/22
595,Kenya,Pin Charger,1545.0,6,2.75,2022-06-01,9270.0,4248.75,5021.25,2022,Jun/22
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,Sep/22
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,Nov/21
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,Dec/21
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22

In [5]:
df.query("Products != 'Pin Charger' ")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00,2022,Feb/22
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,Feb/22
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022,Jun/22
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022,Jun/22
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00,2022,Jul/22
...,...,...,...,...,...,...,...,...,...,...,...
1235,Kenya,Mini Charger,1175.0,3,1.25,2022-10-01,3525.0,1468.75,2056.25,2022,Oct/22
1236,Nigeria,Mini Charger,2954.0,3,1.25,2021-11-01,8862.0,3692.50,5169.50,2021,Nov/21
1237,Kenya,Mini Charger,552.0,3,1.25,2022-11-01,1656.0,690.00,966.00,2022,Nov/22
1238,Zambia,Mini Charger,293.0,3,1.25,2022-12-01,879.0,366.25,512.75,2022,Dec/22
1239,South Africa,Mini Charger,1806.0,3,1.25,2022-05-01,5418.0,2257.50,3160.50,2022,May/22

In [6]:
df.query("Products in ('Type A Charger', 'Pin Charger') ")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00,2022,Feb/22
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,Feb/22
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022,Jun/22
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022,Jun/22
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00,2022,Jul/22
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,Sep/22
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,Nov/21
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,Dec/21
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22

In [7]:
df

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00,2022,Feb/22
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,Feb/22
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022,Jun/22
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022,Jun/22
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00,2022,Jul/22
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,Sep/22
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,Nov/21
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,Dec/21
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22

In [9]:
df.query("Profit >= 1000  ")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,Feb/22
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022,Jun/22
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022,Jun/22
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00,2022,Jul/22
5,Ghana,Type A Charger,883.0,5,2.00,2022-08-01,4415.0,1766.00,2649.00,2022,Aug/22
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,Sep/22
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,Nov/21
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,Dec/21
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22

In [13]:
df.query("Profit >= 2000  and Profit <= 7000 " )

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,Feb/22
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022,Jun/22
5,Ghana,Type A Charger,883.0,5,2.00,2022-08-01,4415.0,1766.00,2649.00,2022,Aug/22
7,Ghana,Type A Charger,788.0,5,2.00,2021-09-01,3940.0,1576.00,2364.00,2021,Sep/21
9,South Africa,Type A Charger,1143.0,5,2.00,2022-10-01,5715.0,2286.00,3429.00,2022,Oct/22
...,...,...,...,...,...,...,...,...,...,...,...
1337,Kenya,Pin Charger,1013.0,6,2.75,2022-12-01,6078.0,2785.75,3292.25,2022,Dec/22
1338,Ghana,Pin Charger,1575.0,6,2.75,2022-02-01,9450.0,4331.25,5118.75,2022,Feb/22
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,Sep/22
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22

In [16]:
df.query("`Order Date` >= '2022-02-01' and `Order Date` <= '2022-05-31'")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00,2022,Feb/22
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,Feb/22
16,Zambia,Type A Charger,2296.0,5,2.00,2022-02-01,11480.0,4592.00,6888.00,2022,Feb/22
17,Zambia,Type A Charger,1030.0,5,2.00,2022-05-01,5150.0,2060.00,3090.00,2022,May/22
18,South Africa,Type A Charger,1514.0,5,2.00,2022-02-01,7570.0,3028.00,4542.00,2022,Feb/22
...,...,...,...,...,...,...,...,...,...,...,...
1313,South Africa,Pin Charger,790.0,6,2.75,2022-05-01,4740.0,2172.50,2567.50,2022,May/22
1338,Ghana,Pin Charger,1575.0,6,2.75,2022-02-01,9450.0,4331.25,5118.75,2022,Feb/22
1339,South Africa,Pin Charger,606.0,6,2.75,2022-04-01,3636.0,1666.50,1969.50,2022,Apr/22
1343,Ghana,Pin Charger,500.0,6,2.75,2022-03-01,3000.0,1375.00,1625.00,2022,Mar/22
1344,Zambia,Pin Charger,2826.0,6,2.75,2022-05-01,16956.0,7771.50,9184.50,2022,May/22

In [24]:
df['mon2'] = df['Order Date'] .apply(lambda y: y.strftime('%B'))
df

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00,2022,February
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,February
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022,June
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022,June
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00,2022,July
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,September
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,November
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,December
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,December
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,December

In [22]:
df

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
0,Nigeria,Type A Charger,292.0,5,2.00,2022-02-01,1460.0,584.00,876.00,2022,Feb/22
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,Feb/22
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022,Jun/22
3,Kenya,Type A Charger,1006.0,5,2.00,2022-06-01,5030.0,2012.00,3018.00,2022,Jun/22
4,Kenya,Type A Charger,367.0,5,2.00,2022-07-01,1835.0,734.00,1101.00,2022,Jul/22
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,Sep/22
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,Nov/21
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,Dec/21
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,Dec/22

In [25]:
df[df["mon2"].str.contains('mber')]

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
6,Zambia,Type A Charger,549.0,5,2.00,2021-09-01,2745.0,1098.00,1647.00,2021,September
7,Ghana,Type A Charger,788.0,5,2.00,2021-09-01,3940.0,1576.00,2364.00,2021,September
8,Ghana,Type A Charger,2472.0,5,2.00,2022-09-01,12360.0,4944.00,7416.00,2022,September
10,Nigeria,Type A Charger,1725.0,5,2.00,2021-11-01,8625.0,3450.00,5175.00,2021,November
11,South Africa,Type A Charger,912.0,5,2.00,2021-11-01,4560.0,1824.00,2736.00,2021,November
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,September
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,November
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,December
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,December
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,December

In [26]:
filtering = df[df["mon2"].str.contains('mber')]
filtering

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
6,Zambia,Type A Charger,549.0,5,2.00,2021-09-01,2745.0,1098.00,1647.00,2021,September
7,Ghana,Type A Charger,788.0,5,2.00,2021-09-01,3940.0,1576.00,2364.00,2021,September
8,Ghana,Type A Charger,2472.0,5,2.00,2022-09-01,12360.0,4944.00,7416.00,2022,September
10,Nigeria,Type A Charger,1725.0,5,2.00,2021-11-01,8625.0,3450.00,5175.00,2021,November
11,South Africa,Type A Charger,912.0,5,2.00,2021-11-01,4560.0,1824.00,2736.00,2021,November
...,...,...,...,...,...,...,...,...,...,...,...
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,September
1346,South Africa,Pin Charger,2574.0,6,2.75,2021-11-01,15444.0,7078.50,8365.50,2021,November
1347,South Africa,Pin Charger,2438.0,6,2.75,2021-12-01,14628.0,6704.50,7923.50,2021,December
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,December
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,December

In [28]:
filtering.to_excel('Filter Output.xlsx', index = False)

In [35]:
df.query("Countries == 'Nigeria' and Products == 'Type A Charger'")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
0,Nigeria,Type A Charger,292.0,5,2.0,2022-02-01,1460.0,584.0,876.0,2022,February
2,Nigeria,Type A Charger,2518.0,5,2.0,2022-06-01,12590.0,5036.0,7554.0,2022,June
10,Nigeria,Type A Charger,1725.0,5,2.0,2021-11-01,8625.0,3450.0,5175.0,2021,November
12,Nigeria,Type A Charger,2152.0,5,2.0,2021-12-01,10760.0,4304.0,6456.0,2021,December
13,Nigeria,Type A Charger,1817.0,5,2.0,2022-12-01,9085.0,3634.0,5451.0,2022,December
...,...,...,...,...,...,...,...,...,...,...,...
834,Nigeria,Type A Charger,700.0,5,2.0,2022-11-01,3500.0,1400.0,2100.0,2022,November
835,Nigeria,Type A Charger,2222.0,5,2.0,2021-11-01,11110.0,4444.0,6666.0,2021,November
839,Nigeria,Type A Charger,1614.0,5,2.0,2022-04-01,8070.0,3228.0,4842.0,2022,April
842,Nigeria,Type A Charger,2559.0,5,2.0,2022-08-01,12795.0,5118.0,7677.0,2022,August
850,Nigeria,Type A Charger,723.0,5,2.0,2022-04-01,3615.0,1446.0,2169.0,2022,April

In [36]:
df.query("Countries == 'Nigeria' and Revenues > 2000")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
2,Nigeria,Type A Charger,2518.0,5,2.00,2022-06-01,12590.0,5036.00,7554.00,2022,June
10,Nigeria,Type A Charger,1725.0,5,2.00,2021-11-01,8625.0,3450.00,5175.00,2021,November
12,Nigeria,Type A Charger,2152.0,5,2.00,2021-12-01,10760.0,4304.00,6456.00,2021,December
13,Nigeria,Type A Charger,1817.0,5,2.00,2022-12-01,9085.0,3634.00,5451.00,2022,December
27,Nigeria,Type A Charger,2363.0,5,2.00,2022-02-01,11815.0,4726.00,7089.00,2022,February
...,...,...,...,...,...,...,...,...,...,...,...
1308,Nigeria,Pin Charger,1269.0,6,2.75,2022-10-01,7614.0,3489.75,4124.25,2022,October
1319,Nigeria,Pin Charger,1916.0,6,2.75,2021-12-01,11496.0,5269.00,6227.00,2021,December
1321,Nigeria,Pin Charger,384.0,6,2.75,2022-01-01,2304.0,1056.00,1248.00,2022,January
1326,Nigeria,Pin Charger,1808.0,6,2.75,2022-11-01,10848.0,4972.00,5876.00,2022,November
1331,Nigeria,Pin Charger,2632.0,6,2.75,2022-06-01,15792.0,7238.00,8554.00,2022,June

In [37]:
df.query("Costs >= 1000 and Profit < 3000 and Products == 'Type A Charger'")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
1,Ghana,Type A Charger,974.0,5,2.0,2022-02-01,4870.0,1948.0,2922.0,2022,February
5,Ghana,Type A Charger,883.0,5,2.0,2022-08-01,4415.0,1766.0,2649.0,2022,August
6,Zambia,Type A Charger,549.0,5,2.0,2021-09-01,2745.0,1098.0,1647.0,2021,September
7,Ghana,Type A Charger,788.0,5,2.0,2021-09-01,3940.0,1576.0,2364.0,2021,September
11,South Africa,Type A Charger,912.0,5,2.0,2021-11-01,4560.0,1824.0,2736.0,2021,November
20,South Africa,Type A Charger,727.0,5,2.0,2022-06-01,3635.0,1454.0,2181.0,2022,June
21,Zambia,Type A Charger,787.0,5,2.0,2022-06-01,3935.0,1574.0,2361.0,2022,June
23,Kenya,Type A Charger,747.0,5,2.0,2022-09-01,3735.0,1494.0,2241.0,2022,September
24,Kenya,Type A Charger,766.0,5,2.0,2021-10-01,3830.0,1532.0,2298.0,2021,October
28,Zambia,Type A Charger,918.0,5,2.0,2022-05-01,4590.0,1836.0,2754.0,2022,May
31,Ghana,Type A Charger,662.0,5,2.0,2022-06-01,3310.0,1324.0,1986.0,2022,June
33,Kenya,Type A Charger,809.0,5,2.0,2021-10-01,4045.0,1618.0,2427.0,2021,October
46,Kenya,Type A Charger,689.0,5,2.0,2022-06-01,3445.0,1378.0,2067.0,2022,June
57,Kenya,Type A Charger,795.0,5,2.0,2022-03-01,3975.0,1590.0,2385.0,2022,March
65,South Africa,Type A Charger,671.0,5,2.0,2021-10-01,3355.0,1342.0,2013.0,2021,October
78,South Africa,Type A Charger,991.0,5,2.0,2022-06-01,4955.0,1982.0,2973.0,2022,June
79,South Africa,Type A Charger,602.0,5,2.0,2022-06-01,3010.0,1204.0,1806.0,2022,June
83,South Africa,Type A Charger,861.0,5,2.0,2022-10-01,4305.0,1722.0,2583.0,2022,October
84,Zambia,Type A Charger,704.0,5,2.0,2021-10-01,3520.0,1408.0,2112.0,2021,October
92,South Africa,Type A Charger,727.0,5,2.0,2021-10-01,3635.0,1454.0,2181.0,2021,October
114,South Africa,Type A Charger,678.0,5,2.0,2022-08-01,3390.0,1356.0,2034.0,2022,August
131,South Africa,Type A Charger,973.0,5,2.0,2022-03-01,4865.0,1946.0,2919.0,2022,March
136,Ghana,Type A Charger,591.0,5,2.0,2022-05-01,2955.0,1182.0,1773.0,2022,May
141,Nigeria,Type A Charger,873.0,5,2.0,2022-01-01,4365.0,1746.0,2619.0,2022,January
153,Ghana,Type A Charger,886.0,5,2.0,2022-06-01,4430.0,1772.0,2658.0,2022,June
155,Ghana,Type A Charger,905.0,5,2.0,2022-10-01,4525.0,1810.0,2715.0,2022,October
165,Kenya,Type A Charger,807.0,5,2.0,2022-01-01,4035.0,1614.0,2421.0,2022,January
170,Ghana,Type A Charger,571.0,5,2.0,2022-07-01,2855.0,1142.0,1713.0,2022,July
185,Nigeria,Type A Charger,700.0,5,2.0,2022-11-01,3500.0,1400.0,2100.0,2022,November
199,South Africa,Type A Charger,914.0,5,2.0,2022-12-01,4570.0,1828.0,2742.0,2022,December
201,Nigeria,Type A Charger,723.0,5,2.0,2022-04-01,3615.0,1446.0,2169.0,2022,April
706,Kenya,Type A Charger,795.0,5,2.0,2022-03-01,3975.0,1590.0,2385.0,2022,March
714,South Africa,Type A Charger,671.0,5,2.0,2021-10-01,3355.0,1342.0,2013.0,2021,October
727,South Africa,Type A Charger,991.0,5,2.0,2022-06-01,4955.0,1982.0,2973.0,2022,June
728,South Africa,Type A Charger,602.0,5,2.0,2022-06-01,3010.0,1204.0,1806.0,2022,June
732,South Africa,Type A Charger,861.0,5,2.0,2022-10-01,4305.0,1722.0,2583.0,2022,October
733,Zambia,Type A Charger,704.0,5,2.0,2021-10-01,3520.0,1408.0,2112.0,2021,October
741,South Africa,Type A Charger,727.0,5,2.0,2021-10-01,3635.0,1454.0,2181.0,2021,October
763,South Africa,Type A Charger,678.0,5,2.0,2022-08-01,3390.0,1356.0,2034.0,2022,August
780,South Africa,Type A Charger,973.0,5,2.0,2022-03-01,4865.0,1946.0,2919.0,2022,March
785,Ghana,Type A Charger,591.0,5,2.0,2022-05-01,2955.0,1182.0,1773.0,2022,May
790,Nigeria,Type A Charger,873.0,5,2.0,2022-01-01,4365.0,1746.0,2619.0,2022,January
802,Ghana,Type A Charger,886.0,5,2.0,2022-06-01,4430.0,1772.0,2658.0,2022,June
804,Ghana,Type A Charger,905.0,5,2.0,2022-10-01,4525.0,1810.0,2715.0,2022,October
814,Kenya,Type A Charger,807.0,5,2.0,2022-01-01,4035.0,1614.0,2421.0,2022,January
819,Ghana,Type A Charger,571.0,5,2.0,2022-07-01,2855.0,1142.0,1713.0,2022,July
834,Nigeria,Type A Charger,700.0,5,2.0,2022-11-01,3500.0,1400.0,2100.0,2022,November
848,South Africa,Type A Charger,914.0,5,2.0,2022-12-01,4570.0,1828.0,2742.0,2022,December
850,Nigeria,Type A Charger,723.0,5,2.0,2022-04-01,3615.0,1446.0,2169.0,2022,April

In [41]:
df.query("Costs >= 1000 and Profit < 3000 and Products in('Type A Charger', 'Pin Charger')")

,Countries,Products,Quantity,Revenue per product,Cost per product,Order Date,Revenues,Costs,Profit,mon1,mon2
1,Ghana,Type A Charger,974.0,5,2.00,2022-02-01,4870.0,1948.00,2922.00,2022,February
5,Ghana,Type A Charger,883.0,5,2.00,2022-08-01,4415.0,1766.00,2649.00,2022,August
6,Zambia,Type A Charger,549.0,5,2.00,2021-09-01,2745.0,1098.00,1647.00,2021,September
7,Ghana,Type A Charger,788.0,5,2.00,2021-09-01,3940.0,1576.00,2364.00,2021,September
11,South Africa,Type A Charger,912.0,5,2.00,2021-11-01,4560.0,1824.00,2736.00,2021,November
...,...,...,...,...,...,...,...,...,...,...,...
1339,South Africa,Pin Charger,606.0,6,2.75,2022-04-01,3636.0,1666.50,1969.50,2022,April
1343,Ghana,Pin Charger,500.0,6,2.75,2022-03-01,3000.0,1375.00,1625.00,2022,March
1345,Zambia,Pin Charger,663.0,6,2.75,2022-09-01,3978.0,1823.25,2154.75,2022,September
1348,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,December
1349,South Africa,Pin Charger,914.0,6,2.75,2022-12-01,5484.0,2513.50,2970.50,2022,December

In [ ]:
df.query("Costs >= 1000 and Profit < 3000 and Products in('Type A Charger', 'Pin Charger')")